[submodule "themes/hugo-creative-portfolio-theme"]
	path = themes/hugo-creative-portfolio-theme
	url = https://github.com/kishaningithub/hugo-creative-portfolio-theme
[submodule "themes/hugomods/bootstrap"]
	path = themes/hugomods/bootstrap
	url = https://github.com/hugomods/bootstrap
[submodule "themes/hugomods/images"]
	path = themes/hugomods/images
	url = https://github.com/hugomods/images
[submodule "themes/hugomods/icons"]
	path = themes/hugomods/icons
	url = https://github.com/hugomods/icons
[submodule "themes/icons"]
	path = themes/icons
	url = https://github.com/twbs/icons
